#main
{
    position: absolute;
    top: 44px;
}
.header
{
    position: fixed;
    width:100%;
    top:0px;
    height:40px;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer;
    z-index: 2;
}

.content2
{
    margin-left: 420px;
    margin-bottom: 100px;
}

.answer
{
    padding: 20px 10px;
    margin-top: 20px;
    background-color: rgb(144 175 153 / 4%);
}
.paginator
{
    position: fixed;
    left: 40%;
    bottom: 0;
}
.sub-header
{
    display:flex;
    align-items: center;
    justify-content: space-around;
}